@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
  /* colors */
  --clr-primary-400: hsl(215, 51%, 70%);
  --clr-primary-100: hsl(178, 100%, 50%);

  /* neutral */
  --clr-neutral-main: hsl(217, 54%, 11%);
  --clr-neutral-card: hsl(216, 50%, 16%);
  --clr-neutral-line: hsl(215, 32%, 27%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  /* typography */
  --fs-paragraph: 18px;

  --ff-outfit: 'Outfit', sans-serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 600;
}

/* ## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px */

/* --------------------------- */

body {
  background: var(--clr-neutral-main);
  color: var(--clr-neutral-100);

  font-size: var(--fs-paragraph);
  font-family: var(--ff-outfit);
  font-weight: var(--fw-regular);

  /* for this project only */
  display: grid;
  min-height: 100vh;
  place-content: center;
  margin: 1rem;
}

article {
  border-radius: 1rem;
  background: var(--clr-neutral-card);

  min-width: 375px;
  max-width: 375px;
  width: 375px;

  padding: 2rem;
}
section {
  display: flex;
  flex-flow: column nowrap;

  gap: 1rem;
}

section img {
  border-radius: 1rem;
}

section p {
  color: var(--clr-primary-400);
}

.price {
  display: flex;
  flex-flow: column no wrap;

  justify-content: space-between;
  align-items: center;
}

.eth,
.day {
  color: var(--clr-primary-100);
}

.eth::before {
  content: '';
  background-image: url('images/icon-ethereum.svg');

  object-fit: fill;

  height: 1rem;
  width: 1rem;

  margin-right: 0.5rem;

  display: inline-block;
}

.day {
  color: var(--clr-primary-400);
}

.day::before {
  content: '';
  background-image: url('images/icon-clock.svg');

  height: 1rem;
  width: 1rem;

  margin-right: 0.5rem;

  display: inline-block;
}
